.container {
    width: 1020px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}
header, .nav, .sect, .asi, footer {
    background-color: #ebebeb;
}
